@{
    ViewData["Title"] = "Home Page";
}

<div id="wrap">
    <link rel="stylesheet" href="~/css/site.css" />
    <div class="bg">
        <img class="layer2" src="~/Images/lamp.jpeg" alt="" />
        <h1 id="WebBlog" class="layer1 text-light">Web Blog</h1>
    </div>
    <div class="cont">
        <p>Сайт, сочетающий черты социальной сети и форума, на котором зарегистрированные пользователи могут размещать ссылки на какую-либо понравившуюся информацию в интернете и обсуждать её. Как и многие другие подобные сайты, WebBlog поддерживает систему голосования за понравившиеся сообщения - наиболее популярные из них оказываются на заглавной странице сайта. Один из наиболее популярных сайтов в мире - 21-е место по посещаемости по данным Alexa Internet и SimilarWeb.</p>
        <p>1 апреля 2015 года на WebBlog появился подраздел /r/thebutton. Он содержал кнопку, таймер, отсчитывающий 60 секунд, счётчик и краткое описание, сообщающее, что кнопку может нажать только владелец аккаунта, созданного ранее 1 апреля, и нажать на кнопку можно только один раз. Нажатие на кнопку приводило к сбросу таймера и увеличению счётчика на единицу. Пользователь, участвующий в обсуждении, отмечался специальной круглой меткой. Тот, кто не нажимал на кнопку (non presser), имел метку серого цвета. Метка остальных содержала время на таймере, когда благодаря нажатию на кнопку он перезапускался, от этого же зависел и цвет метки. 5 июня 2015 года эксперимент завершился</p>
    </div>
</div> 