@model IEnumerable<WebBlog.Models.User>
<html>
<head>
    <title>WebBlog</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/css/main.css" />
    <noscript><link rel="stylesheet" href="~/css/noscript.css" /></noscript>
</head>
<body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">

        <section id="banner" class="major">

            <div class="inner">
                <header class="major">

                    <h1>Добро пожаловать!</h1>

                </header>
                <div class="content">
                    <p>
                        Веб блог - пространство, посвященное <br />
                        статьям и обсуждениям о мире IT
                    </p>
                    <p>
                        Вы можете просматривать статьи и ленту, но для создания постов нужно авторизоваться
                    </p>
                    <!--<ul class="actions">
                     <li><a href="#one" class="button next scrolly">Приступим!</a></li>
                 </ul>-->
                </div>
            </div>
        </section>

        <!-- Main -->
        <div id="main">

            <!-- One -->
            <section id="one" class="tiles">
                <article>
                    <span class="image">
                        <img src="~/Images/cs.jpg" alt="" />
                    </span>
                    <header class="major">
                        <h3><a asp-action="CsharpForum" class="link">Форум C#</a></h3>
                        <p>Просматривайте статьи на тему C#</p>
                    </header>
                </article>
                <article>
                    <span class="image">
                        <img src="~/Images/front.jpg" alt="" />
                    </span>
                    <header class="major">
                        <h3><a asp-action="FrontEndForum" class="link">Форум FrontEnd</a></h3>
                        <p>Статьи по HTML,CSS, JS</p>
                    </header>
                </article>
                <article>
                    <span class="image">
                        <img src="Images/qa.png" alt="" />
                    </span>
                    <header class="major">
                        <h3><a asp-action="QaForum" class="link">Форум QA</a></h3>
                        <p>Статьи по тестированию софта</p>
                    </header>
                </article>
                <article>
                    <span class="image">
                        <img src="Images/git.jpg" alt="" />
                    </span>
                    <header class="major">
                        <h3><a asp-action="GitHubForum" class="link">Форум GitHub</a></h3>
                        <p>Статьи по работе с GitHub</p>
                    </header>
                </article>
                <article>
                    <span class="image">
                        <img src="~/Images/analyt.jpg" alt="" />
                    </span>
                    <header class="major">
                        <h3><a asp-action="AnalyticsForum" class="link">Форум Аналитика</a></h3>
                        <p>Статьи от разработчика о фичах</p>
                    </header>
                </article>
                <article>
                    <span class="image">
                        <img src="~/Images/other.jpg" alt="" />
                    </span>
                    <header class="major">
                        <h3><a asp-action="AnythingForum" class="link">Форум "Разное"</a></h3>
                        <p>Общие статье по теме и без=)</p>
                    </header>
                </article>
            </section>

            <!-- Two -->
            <section id="two">
                <div class="inner">
                    <header class="major">
                        <h2>Создай свой пост</h2>
                    </header>
                    <p>Выбери тематику статьи или обсуждения и создай свой пост</p>
                    <ul class="actions">
                        <li><a asp-action="CreatePost" class="button next">Создать пост!</a></li>
                    </ul>
                </div>
            </section>

        </div>

        <!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <ul class="icons">
                    <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
                    <li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                </ul>
                <ul class="copyright">
                    <li>&copy; WebBlog</li>
                    <li>Design: <a href="http://www.krstc.ru/">Красногорский колледж</a></li>
                </ul>
            </div>
        </footer>

    </div>

    <!-- Scripts -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.scrolly.min.js"></script>
    <script src="~/js/jquery.scrollex.min.js"></script>
    <script src="~/js/browser.min.js"></script>
    <script src="~/js/breakpoints.min.js"></script>
    <script src="~/js/util.js"></script>
    <script src="~/js/main.js"></script>

</body>
</html>