@model WebBlog.Models.User

<form method="post" asp-action="Authorization">
    <div class="border rounded p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <h2 class="text-light pl-3">Рады видеть Вас снова!</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-6 text-light">
                        <label asp-for="UserName"></label>
                    </div>
                    <div class="col-6 text-light">
                        <label asp-for="Password"></label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-6">
                        <input asp-for="UserName" class="form-control" name="userName" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="col-6">
                        <input type="password" asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-8 offset-2 row">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-75" value="Войти" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-danger w-75">Отмена</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
    